.container {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  border: solid #333;
  font-size: 100px;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .left, .right, .middle {
    width: 100%;
  }
}
