body{
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #dbfff3;
}

.panel{
  padding: 16px 8px;
}

.panel-text{
  margin-bottom: 8px;
  padding: 00px 8px;
  background-color: #ffffff; /*#a7ffe2;*/
  border: 3px solid #04AA6D;
  border-radius: 5px;
}

.panel-config {
  background-color: #ffffff; /*#a7ffe2;*/
  padding: 0px 8px 8px 8px;
  border: 3px solid #04AA6D;
  border-radius: 5px;
}

.panel-config > div:first-of-type{
  margin-bottom: 10px;
}

.boardCont {
  border: 1px solid black;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  box-sizing: border-box;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.boardCont > div{
  aspect-ratio: 1;
}

.grid-container{
  height: 100%;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 16px;
}



.white {
  background-color: white;
}

.black {
  background-color: #7FFFD4;
}



.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 99%; /* Full-width */
  max-width: 900px;
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}